<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Edit Product</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
        }

        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 80%; /* Adjust the width as needed */
            overflow: auto;
        }

        h1 {
            text-align: center;
            color: #3498db;
        }

        label {
            display: block;
            margin-top: 10px;
        }

        input, select, textarea {
            width: calc(100% - 16px);
            padding: 8px;
            margin-top: 5px;
            margin-bottom: 15px;
            box-sizing: border-box;
            border: 1px solid #ddd;
            border-radius: 4px;
            display: inline-block;
            vertical-align: top;
            resize: none;
        }

        select {
            height: 35px;
        }

        button {
            background-color: #3498db;
            color: #fff;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 5px;
            font-size: 16px;
        }

        #existingImages {
            display: flex;
            flex-wrap: wrap;
        }

        .existing-image {
            margin-right: 10px;
            margin-bottom: 10px;
        }

        .existing-image img {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            height: 80px;
            width: 80px;
            object-fit: cover;
        }

        textarea {
            width: calc(100% - 16px);
            resize: vertical;
        }

        /* Add your custom styles here */

    </style>
</head>
<body>
    <form action="/admin/dashboard/edit-product/<%= product._id %>" method="post" enctype="multipart/form-data">

        <h1>Edit Product</h1>

        <label for="productName">Product Name:</label>
        <input type="text" id="productName" name="productName" value="<%= product.productName %>" required>

        <label for="category">Category:</label>
        <select id="category" name="categoryId" required>
            <% categories.forEach(category => { %>
                <option value="<%= category._id %>"><%= category.name %></option>
            <% }); %>
        </select>

        <label for="regularPrice">Regular Price:</label>
        <input type="number" id="regularPrice" name="regularPrice" value="<%= product.regularPrice %>" required>
        <select id="shirtSize" name="shirtSize">
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
            <option value="XL">XL</option>
            <option value="XXL">XXL</option>
        </select>

        <label for="salesPrice">Sales Price:</label>
        <input type="number" id="salesPrice" name="salesPrice" value="<%= product.salesPrice %>">

        <label for="stockStatus">Stock Status:</label>
        <select id="stockStatus" name="stockStatus" required>
            <option value="In Stock" <%= product.stockStatus === 'In Stock' ? 'selected' : '' %>>In Stock</option>
            <option value="Out of Stock" <%= product.stockStatus === 'Out of Stock' ? 'selected' : '' %>>Out of Stock</option>
        </select>

        <label for="offerPrice">Offer Price:</label>
        <input type="number" id="offerPrice" name="offerPrice" value="<%= product.offerPrice %>">

        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" value="<%= product.quantity %>" required>

        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="4"></textarea>

        <label for="existingImages">Existing Images:</label>
        <div id="existingImages">
            <% product.productImage.forEach(image => { %>
                <div class="existing-image">
                    <img src="/uploads/<%= image %>" alt="<%= product.productName %>" height="80px" width="80px">
                    <input type="checkbox" name="deleteImages" value="<%= image %>"> Delete

                </div>
            <% }); %>
        </div>
        
        <!-- Add this input field to allow uploading new images -->
        <label for="newProductImages">New Product Images:</label>
        <input type="file" id="newProductImages" name="newProductImages" accept="image/*" multiple>

        <button type="submit">Update Product</button>
    </form>
</body>
</html>
