<%- include("adminheader.ejs") %>
<link rel="stylesheet" href="/styles/userlist.css">
<div class="container">
    <h2>User List</h2>
    <% if (users.length > 0) { %>
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user => { %>
                    <tr>
                        <td><%= user.name %></td>
                        <td><%= user.status %></td>
                        <td>
                            <a href="/admin/dashboard/block-user/<%= user._id %>" class="block-unblock-link">
                                <%= user.status === 'active' ? 'Block' : 'Unblock' %> User
                            </a>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    <% } else { %>
        <p>No users available.</p>
    <% } %>
</div>



<style>

</style>
